*{
  margin: 0;
  padding: 0;
}
.navbar{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
}
.logo{
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 5px;
}
.nav-links{
    margin-left: 100px;
}